body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/* global */
.honda-margin{
    margin-top: 100px;
}

/* nav  */
.nav-bg-honda{
    background-color: #264653;
}

/* header background */
.honda-bg{
    background-color: #264653;
}

.bg-btn-honda{
    background-color: #E76F51;
}

.honda-bnr-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* main start  */
.bg-p-honda{
    color: #E76F51;
}

#hr {
    background-color: #E76F51;
    width: 10%;
    height: 2px;
    
}

/* testimonial */
.user-content p {
    margin-top: 5px;
    font-size: 12px
}

.ratings i {
    color: #E77C40;
}

/* footer  */
.footer-color{
    background-color: #0B0D17;
    margin-top: 140px;
}